@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');


/* nuevas clases */
.btn-primario{
  box-shadow: 0 8px 25px -8px #66ffcc;
  border-color: #66FFCC !important;
  background-color: #66FFCC !important;
  border-radius: 0.4285rem;
  color: #303030;
}
.texto-simple{
  color: #303030;
  font-size: 15px;
  width: 80%;
  margin-left: 10%;
}
.card-h{
  background: #67FFCC;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.texto-title{
  color: #303030;
  font-size: 40px;
}
.btn-cre {
  border-color: #F2F1F3 !important;
  color: black!important;
  box-shadow: 0 8px 25px -8px #f2f1f3;
  position: absolute;
  top: 90%;
  left: 52px;
  width: 78px;
  font-size: 12px;
  height: 20px;
  background-color: #F2F1F3;
  border-radius: 0.4285rem;
  transform: translate(-50%, -50%);
  }
  .img-ho{
    height: 150px;
  }
  .product{
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 10%);
    background: #FFFFFF;
    border-radius: 10px;
    padding: 0.8rem;
  }
  .btn-cren{
    border-color: #F2F1F3 !important;
    color: #616061!important;
    box-shadow: 0 8px 25px -8px #f2f1f3;
    position: absolute;
    top: 50%;
    left: 23%;
    width: 20%;
    height: 27px;
    background-color: #F2F1F3;
    border-radius: 0.4285rem;
    transform: translate(-50%, -50%);
  }
  .btn-pri{
    border-color: #66FFCC !important;
    color: black!important;
    box-shadow: 0 8px 25px -8px #66ffcc;
    position: absolute;
    top: 75%;
    left: 50%;
    background-color: #66FFCC;
    border-radius: 0.4285rem;
    transform: translate(-50%, -50%);
  }
/* fin de las nuevas clases */

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contente{
    width: 100%;
    padding-right: 14px;
    padding-left: 14px;
    margin-right: auto;
    margin-left: auto;
}
.fuente{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.contenedorborder{
  position: relative;
    display: inline-block;
    text-align: center;
    width: 93%;
    border-radius: 10px;
}

.contenedorborder1{
  position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    border-radius: 10px;
    width: 100%;
}

.texto-encima{
  position: absolute;
  top: 30%;
  color: #303030;
  left: 29.8%;
  font-size: 60px;
  width: 50%;
  text-align: justify;
  transform: translate(-50%, -50%);
}
.texto-arriba{
  position: absolute;
  color: white;
  top: 44%;
  left: 26.5%;
  text-align: initial;
  width: 30%;
  font-size: 36px;
  transform: translate(-50%, -50%);
}
.texto-abajo{
    position: absolute;
    color: white;
    top: 68%;
    left: 26.5%;
    font-size: 16px;
    text-align: initial;
    width: 30%;
    transform: translate(-50%, -50%);
}
.texto-dearriba{
  position: absolute;
  color: white;
  top: 35%;
  left: 50%;
  text-align: center;
  width: 100%;
  font-size: 40px;
  transform: translate(-50%, -50%);
}
.texto-debajo{
  position: absolute;
  color: white;
  top: 55%;
  left: 50%;
  text-align: center;
  width: 70%;
  font-size: 18px;
  transform: translate(-50%, -50%);
}
.texto-tienda {
  position: absolute;
  color: white;
  top: 21%;
  left: 16%;
  text-align: center;
  width: 60%;
  font-size: 50px;
  transform: translate(-50%, -50%);
}
.texto-about {
  position: absolute;
    color: white;
    top: 30%;
    left: 25%;
    text-align: center;
    width: 60%;
    font-size: 50px;
    transform: translate(-50%, -50%);
}
.texto-aboutS {
  color: #303030;
  font-size: 16px;
}

.texto-con {
  position: absolute;
    color: white;
    top: 22%;
    left: 22.5%;
    text-align: center;
    width: 60%;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

.texto-tiendaB {
  position: absolute;
    color: white;
    top: 30%;
    left: 14.5%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.texto-conB {
  position: absolute;
    color: white;
    top: 30%;
    left: 16.5%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.texto-aboutB {
  position: absolute;
    color: #5CE5B9;
    font-size: 18px;
    top: 24%;
    left: 26%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.margen{
  margin-left: 20px;
}
.padin-lg{
  padding-left:7.7rem;
  padding-right:7.7rem;
}
.padin-card{
  padding-left:13rem;
  padding-right:13rem;
}
.margen-h{
  margin-left: 80px;
}

.centrado{
  position: absolute;
    color: #303030;
    top: 43%;
    left: 28%;
    text-align: initial;
    width: 36%;
    font-size: 15px;
    transform: translate(-50%, -50%);
}
.btn-pry{
  border-color: #66FFCC !important;
    color: black!important;
    box-shadow: 0 8px 25px -8px #66ffcc;
    position: absolute;
    top: 53%;
    left: 17.5%;
    width: 15%;
    background-color: #66FFCC;
    border-radius: 0.4285rem;
    transform: translate(-50%, -50%);
}

.testimonials-clean .item .author {
  position: absolute;
  margin-top: -240px;
  background: white;
  padding-left: 20px;
  height: 25%;
  width: 45%;
}
.heigth-con{height: 160px;}


.text-tar{
  color: #303030;
  width: 160px;
}
.dolar{
  color: #303030;
  margin-left: 140px;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: -5px;
}


.trans-card{
  margin-top: -215px;
  width: 70%;
}
@media(max-width:1920px){
  .text-tar{
    color: #303030;
    width: 280px;
    font-size: 18px;
  }
.trans-card{
  margin-top: -210px;
  width: 100%;
}
  .dolar{
    color: #303030;
    margin-left: 290px;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0px;
  }
  .texto-con {
    position: absolute;
    color: white;
    top: 14%;
    left: 19%;
    text-align: center;
    width: 60%;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

.heigth-con{height: 180px;}
  .texto-conB {
    position: absolute;
    color: white;
    top: 19%;
    left: 14.5%;
    text-align: center;
    transform: translate(-50%, -50%);
}
  .texto-encima{
    position: absolute;
    top: 30%;
    color: #303030;
    left: 26%;
    font-size: 60px;
    width: 50%;
    text-align: justify;
    transform: translate(-50%, -50%);
  }
  .texto-arriba {
    position: absolute;
    color: white;
    top: 44%;
    left: 26.5%;
    text-align: initial;
    width: 30%;
    font-size: 41px;
    transform: translate(-50%, -50%);
}
.texto-abajo {
  position: absolute;
  color: white;
  top: 63%;
  left: 26.5%;
  font-size: 18px;
  text-align: initial;
  width: 30%;
  transform: translate(-50%, -50%);
}
  .centrado{
    position: absolute;
    color: #303030;
    top: 43%;
    left: 26%;
    text-align: initial;
    width: 28%;
    font-size: 18px;
    transform: translate(-50%, -50%);
  }
  .btn-pry{
    border-color: #66FFCC !important;
      color: black!important;
      box-shadow: 0 8px 25px -8px #66ffcc;
      position: absolute;
      top: 53%;
      left: 19.5%;
      width: 15%;
      font-size: 18px;
      background-color: #66FFCC;
      border-radius: 0.4285rem;
      transform: translate(-50%, -50%);
  }
  .padin-lg{
    padding-left:12rem;
    padding-right:12rem;
  }
  .margen{
    margin-left: 40px;
  }
  .margen-h{
    margin-left: 130px;
  }
}

@media(max-width:720px){
    .texto-arriba{
        position: absolute;
        color: white;
        top: 32%;
        left: 50%;
        text-align: center;
        width: 90%;
        font-size: 13px;
        transform: translate(-50%, -50%);
    }
    .texto-abajo{
        position: absolute;
        color: white;
        top: 68%;
        left: 50%;
        text-align: center;
        width: 90%;
        font-size: 10px;
        transform: translate(-50%, -50%);
    }

    .texto-dearriba{
      position: absolute;
    color: white;
    top: 35%;
    left: 50%;
    text-align: center;
    width: 60%;
    font-size: 14px;
    transform: translate(-50%, -50%);
  }
  .texto-debajo{
    position: absolute;
    color: white;
    top: 65%;
    left: 50%;
    text-align: center;
    width: 60%;
    font-size: 6px;
    transform: translate(-50%, -50%);
    }

}

.sobre{
    position: absolute;
    top: 35%;
    left: 70%;
    text-align: justify;
    transform: translate(-50%, -50%);
}
.debajo{
    position: absolute;
    top: 35%;
    left: 70%;
    text-align: justify;
    transform: translate(-50%, -50%);
}
.btn-con{
  border-color: #66FFCC !important;
  color: black!important;
  box-shadow: 0 8px 25px -8px #66ffcc;
  position: absolute;
  left: 75%;
  width: 30%;
  background-color: #66FFCC;
  border-radius: 0.4285rem;
  transform: translate(-50%, -50%);
}

.text-card{
    color:#66FFCC;
    font-size: 20px;
}

.text-about{
  color:#303030;
  font-size: 24px;
}

.card-home{
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #173138;
    background-clip: border-box;
    border: 1px solid rgba(34, 41, 47, 0.125);
    border-radius: 0.5rem;
    width: 10px;
}

.testimonials-clean {
    color:#313437;
  }

  .testimonials-clean p {
    color:#7d8285;
  }

  .testimonials-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }

  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }

  .testimonials-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }

  .testimonials-clean .intro p {
    margin-bottom:0;
  }

  .testimonials-clean .people {
    padding:50px 90px 20px;
  }

  .testimonials-clean .item {
    margin-bottom:32px;
  }

  @media (min-width:768px) {
    .testimonials-clean .item {
      height:220px;
    }
  }

  .testimonials-clean .item .box {
    margin-top: 10%;
    padding:30px;
    background-color:#fbf9fc;
    position:relative;
  }


  .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
  }

  .testimonials-clean .item .title {
    font-size: 14px;
    color: #253E45
  }

  .testimonials-clean .item .description {
    font-size:18px;
    margin-bottom:0;
  }

  .testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
  }

  .footer-clean {
    padding: 100px 0;
    background-color: #173138;
    color: white;
  }

  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }

  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }

  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

  .footer-clean ul a:hover {
    opacity:1;
  }

  .footer-clean .item.social {
    text-align:right;
  }

  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }

  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }

  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }

  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }

  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }

  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }

  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }

  .btn-sub{
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.7rem 0.7rem;
    margin-bottom: 0;
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 1.25;
    color: black!important;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 8px 25px -8px #66ffcc;
    background-color: #66FFCC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  @media (min-width: 768px){
.cus-md-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.cas-md-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 27%;
  max-width: 27%;
}
.cus-md-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 31%;
  max-width: 31%;
}
}
.img-head{
  background: #173138;
  height: 200px;
}

.background{
    position: relative;

    height:145px;
    width:100px;
    background:#66FFCC;
    border-radius: 10px;
}
.text-ab{
  width: 100%;
  margin-left: -5px;
}